#home-title{
    color: #0D3B66;
    font-size: 3.5rem;
    font-weight: bold;
}

.container{
    width: 100%;
    margin-bottom: 5rem;
}

.card {
    position: relative;
    background-color: #eeeeee;
    box-shadow: 3px 3px 6px #00000029;
    border-radius: 6px;
    width: 300px;
    height: 50%;
}
.card:first-of-type{
    margin-right: 10%;
}
.card-body{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.card-name{
    color: #303633;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn {
    font-size: 24px;
    font-weight: bold;
    box-shadow: 3px 3px 6px #00000029;
    background-color: #0D3B66;
    border-color: #0D3B66;
    border-radius: 10px;
    padding-right: 2.25%;
    padding-left: 2.25%;
    transition: all 0.25s ease-in-out;
    width: 80%;
    margin-bottom: 6%;
}
.btn:hover, .btn:active, .btn:focus, .btn-primary:not(:disabled):not(.disabled):active{
    background-color: #DE3C4B;
    border-color: #DE3C4B;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgba(222,60,75,.5);
}