<app-header-brazil></app-header-brazil>
<section id="overview" class="box mt-3">
    <h2>Resumo</h2>
    <p>Atualizado em: {{ currentTime }}</p>
    <div id="overview-cards">
        <div class="overview-card box">
            <h3>Casos confirmados</h3>
            <p>6.166.031</p>
        </div>
        <div class="overview-card box">
            <h3>Casos recuperados</h3>
            <p>5.512.010</p>
        </div>
        <div class="overview-card box">
            <h3>Óbitos confirmados</h3>
            <p>170.862</p>
        </div>
    </div>
</section>