<app-header-brazil></app-header-brazil>
<section class="mt-5 mb-5">
    <h2>Cidades - {{state.nome}}</h2>
    <div class="state-cards">
        <div class="state-card box mt-4 mb-4 mr-5" *ngFor="let cidade of state.cidades | keyvalue">
            <h3 class="text-center mb-3">{{numberWithCommas(cidade.value.nome)}}</h3>
            <p>Casos confirmados: <span>{{numberWithCommas(cidade.value.casos)}}</span></p>
            <p class="mb-3">Óbitos confirmados: <span>{{numberWithCommas(cidade.value.mortes)}}</span></p>
            <button routerLink="/brazil/state" [state]="{ cidade: cidade.value}" class="btn align-self-end">Ver mais detalhes<img class="ml-2" src="assets/icons/next.svg"></button>
        </div>
    </div>
</section>