html, body{
    background-color: #FBFEF9;
}

*{
    font-family: 'Inter', sans-serif;
}

/* Cores usadas
Cor de fundo (tipo branco): #FBFEF9
Cor de fundo mais escura (tipo branco): #EEEEEE
Roxo mais forte: #531CB3
Roxo mais fraco: #928BFF
Amarelo: #F39237
Cinza escuro: #303633
*/