.box{
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #EEEEEE;
}
h2{
  font-size: 36px;
  color: #0D3B66;
  font-weight: bold;
}

#overview{
  margin-right: 1%;
  margin-left: 1%;
}

#overview > p{
  color: #303633;
  font-weight: bold;
  opacity: 75%;
}

#overview-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.overview-card{
  background-color: #15B097;
  width: 30%;
}
.overview-card:first-of-type{
  background-color:  #F39237;
}
.overview-card:last-of-type{
  background-color:  #DE3C4B;
}

.overview-card h3{
  font-weight: bold;
  text-align: center;
}

.overview-card p{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3.75rem;
}

#countries h2{
  margin-left: 1.75%;
}

.country-cards{
  margin-left: 1.75%;
  margin-right: 1.75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.country-card{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.country-card span {
  color: #DE3C4B;
}

.country-card h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: #0D3B66;
}

.country-card p{
  font-weight: bold;
  font-size: 1.25rem;
}

button{
  height: 3rem;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #0D3B66;
  font-weight: bold;
  color: white;
  background-color: #0D3B66;
  width: 50%;
}

.btn:hover, .btn:active, .btn:focus, .btn-primary:not(:disabled):not(.disabled):active{
  background-color: #DE3C4B;
  border-color: #DE3C4B;
  color: white;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
  box-shadow: 0 0 0 0.2rem rgba(222,60,75,.5);
}

.btn.focus, .btn:focus{
  box-shadow: 0 0 0 0.2rem rgba(222,60,75,.5);
}

#loading{
  height: 80vh;
}
#loading h1{
  font-size: 2.75rem;
  font-weight: bold;
  color: #0D3B66;
}

#interesting{
  margin-bottom: 5rem;
}

.interesting-btns{
  margin-left: 1.75%;
}

.interesting-btns button{
  width: 100%;
  background-color: #DE3C4B;
  border-color: #DE3C4B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.interesting-btns button:hover, .interesting-btns button:active, .interesting-btns button:focus, .interesting-btns button-primary:not(:disabled):not(.disabled):active{
  background-color: #F39237;
  border-color: #F39237;
  color: white;
}

.interesting-btns button.focus, .interesting-btns button:focus{
  box-shadow: 0 0 0 0.2rem rgba(243, 146, 55,.5);
}

.interesting-btns img{
  align-self: baseline;
}
